<div class="content" *ngIf="detail" >
    <div class="content-card">
        <div class="return">
            <button class="button" (click)="return()" >
                <span class="material-icons-outlined">
                    west
                </span>
                <p>Regresar</p>
            </button>
        </div>
        <div class="header-card">
            <div class="header-title">
              <!-- TODO: use Optional Chaining  -->
                <img class="header-img" src="{{detail.info.thumb}}" alt="">
                <p class="header-text"> {{detail?.info?.title}} </p>
            </div>
        </div>
        <section class="body-card">
            <!-- TODO: use Optional Chaining  -->
            <img class="body-img" src="{{detail.info.thumb}}" alt="">
        </section>
        <section class="footer-card">
            <div class="footer-cheapestPriceEver">
                <h4 class="sub-title">Precio más barato</h4>
                <p class="informative-text"> <span>Fecha:</span> {{detail.cheapestPriceEver.date | date:"longDate" }}</p>
                <p class="informative-text"> <span>Precio:</span> ${{detail.cheapestPriceEver.price}}</p>
            </div>
            <div class="footer-prices">
                <h4  class="sub-title"> Comparacion de precios en distintas tiendas </h4>
                <div class="footer-prices--content">
                    <!-- TODO: Errata: detal  -->
                    <span *ngFor="let detal of detail?.deals" class="prices">
                        <p class="informative-text">  <span>Precio: </span> ${{detal.price}} </p>
                        <p class="informative-text"> <span>Precio al por menor:</span>  {{detal.retailPrice}} </p>
                        <p class="informative-text"> <span>Ahorros:</span> {{detal.savings}} </p>
                    </span>
                </div>
            </div>
        </section>
    </div>
</div>


