$color-neutral: #FFFFFF;
$color-background: #F4F4F5;
$primary-color: #ff0000;
$button-color: #f7a600;
$borders: 1px solid rgba(255, 255, 255, 0.5);
$button-hover: #f8bc44;
$shadow-global: -8px -8px 16px #e6e2e2, 8px 8px 8px rgb(134 141 165 / 10%);